<?xml version="1.0" encoding="utf-8"?>
<root>
  <!-- Уровни событий и соответствующием им звуки -->
  <!-- levels 1 - critical, 2 - error, 3 - warning, 4 - info, 5 - verbose -->
  <!-- Возможно использовать стандартные звуки Windows = C:\Windows\Media\ -->
  <!-- Возможно использовать свои (.wav) звуки. Необходимо указать путь к файлу (полный C:\(where is file)\soundFile.wav или просто название файла (если рядом с exe (soundFile.wav)
	или в директории под exe (Sounds\SoundFile.wav) -->
  <Sounds>
    <Level Value="1" SoundFile="C:\Windows\Media\Windows Hardware Remove.wav" />
    <Level Value="2" SoundFile="C:\Windows\Media\Windows Hardware Remove.wav" />
    <Level Value="3" SoundFile="" />
    <Level Value="4" SoundFile="" />
    <Level Value="5" SoundFile="" />
  </Sounds>
  <!--Общие настройки-->
  <QueryString Value="*[System[Level=1 or Level=2 or Level=3]]" Description="Строка для запроса событий" />
  <MaxEventsToDisplay Value="1500" Description="Максимальное количество одновременных лог-записей для отображения (0 - неограничено)" />
  <PeriodToDisplayEvents Value="50" Description="Время в минутах в течении которого показываются события (событие отображается - Value минут) (0 - не очищается)" />
  <AutoSubscribeOnStartup Value="True" Description="Автовключение подписки после старта приложения" />
  <!--Список компьютеров, которые будут мониториться-->
  <Computers>
    <Computer Ip="11.11.11.11" />
    <Computer Ip="12.12.12.12" />
    <Computer Ip="127.0.0.1" />
    <Computer Ip="192.168.0.1" />
  </Computers>
  <!--Список пользователей, отображемый в списке пользователей, если нет InfinitySecurity-->
  <Users>
    <User Name="Тестовый пользователь для проверки" DisplayName="Тестовый П.П." />
    <User Name="Тестовый пользователь для проверки №2" DisplayName="Тестовый П.П. №2" />
  </Users>
</root>